[Unit]
Description=Weatherstation: relog
After=remote-fs.target weather-rawlog.service

[Service]
ExecStart=/usr/local/lib/weather/relog.py
Restart=always
