Options +FollowSymlinks

Options +ExecCGI
AddHandler cgi-script .cgi

AddType text/plain .calibrated
<FilesMatch "^[^.]+$">
    ForceType text/plain
</FilesMatch>

RewriteEngine on
RedirectMatch 302 /stuff/web/(.*/.*) /$1

#<Location /stuff/web/>
#    DirectoryIndex index.missing
#    Options -ExecCGI
#    RemoveHandler .cgi
#</Location>


