Options +FollowSymlinks

Options +ExecCGI
AddHandler cgi-script .cgi

AddType text/plain .calibrated
<FilesMatch "^[^.]+$">
    ForceType text/plain
</FilesMatch>

RewriteEngine on
#RewriteCond %{REQUEST_URI} ^/stuff/web/log/
RewriteRule ^/stuff/web/log/(.*) /log/$1 [R=302]

#<Location /stuff/web/>
#    DirectoryIndex index.missing
#    Options -ExecCGI
#    RemoveHandler .cgi
#</Location>


