circle, polygon
{
    fill: #cccccc;
}
text
{
    font-family: verdana;
    fill: #e6298b;
    font-weight: bold;
    font-size: 14px;
}
.unit
{
    fill: #000000;
    font-size: 75%;
    font-weight: normal;
    baseline-shift: super;
}
